.menu-button {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 6vh;
  grid-row-gap: 1vh;
  justify-items: end;
  cursor: pointer;
}

.rectangle {
  height: 6px;
  width: 100%;
  border-radius: 2px;
}

.menu-rectangle {
  display: grid;
  justify-content: end;
  background: white;
}

.menu-rectangle:nth-child(2) {
  width: 80%;
}

.menu-rectangle:nth-child(3) {
  width: 60%;
}

.menu-close-button {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: end;
  align-items: center;
  align-content: center;
  cursor: pointer;
  z-index: 999;

  font-family: 'Baloo', cursive;
  font-size: 3vh;
}

.menu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Baloo', cursive;
  background: #52cc99;
  opacity: 0;
  z-index: 99;
}

.menu > ul {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  list-style-type: none;
}

.menu button {
  background: white;
  color: #333333;
  border: none;
  border-radius: 5em;
  font-family: 'Baloo', cursive;
  font-size: 1.5em;
  padding: 0.1em 1em;
}
