/* COMMON */
body {
  font-family: 'Open Sans', sans-serif;
}

.logo-text {
  font-family: 'Baloo', cursive;
  font-size: 3vh;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  background: #52cc99;
}

.navigation * {
  color: white;
}

.logo-wrapper {
  display: grid;
  grid-template-columns: 10vh 1fr;
  justify-items: start;
}

.logo-wrapper > * {
  display: grid;
  align-items: center;
  height: 10vh;
  padding: 1.5vh;
}

.menu-button-wrapper {
  display: grid;
  justify-items: end;
  align-items: center;
  padding: 1.5vh;
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 400px) {
  .logo-wrapper {
    grid-template-columns: 1fr;
  }

  .logo-text {
    display: none;
  }
}
