.pigeon-messages-container {
  display: grid;
  padding-bottom: 70px;
}

/* HIDE SCROLL BAR */

::-webkit-scrollbar {
  width: 0 !important;
}
.pigeon-messages-container {
  overflow: -moz-scrollbars-none;
}
.pigeon-messages-container {
  -ms-overflow-style: none;
}

/* STYLE MESSAGE BUBBLES */

.pigeon-message {
  display: grid;
  grid-template-columns: 60%;
}

.pigeon-message-sender {
  justify-content: end;
  justify-items: end;
  padding: 10px;
}

.pigeon-message-reciever {
  justify-content: start;
  justify-items: start;
  padding: 10px;
}

.pigeon-message-sender > .pigeon-message-body {
  background: #44ab80;
  border-radius: 14px 14px 4px 14px;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
}

.pigeon-message-reciever > .pigeon-message-body {
  background: #c0c0c0;
  border-radius: 14px 14px 14px 4px;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/* STYLE MESSAGE SENDER */

.pigeon-message-from {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85em;
  color: #333333;
  padding: 5px;
}

/* STYLE MESSAGE TIMESTAMP */

.pigeon-message-timestamp {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #a9a9a9;
  padding: 0px 5px;
}
