@import '../App.scss';

.login-register-section-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;

  > div {
    display: grid;
    background: $primary-color;
    grid-template-columns: minmax(100%, 500px);
    grid-template-rows: 1fr 5fr;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: -8px 10px 18px rgba(0, 0, 0, 0.15);
  }
}

// REFACTOR CODE BELOW

/* LOGIN REGISTER FORM HEADER STYLES */

.form-header {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  color: white;
}

.form-header span {
  padding: 3px;
  font-family: 'Baloo', cursive;
  font-size: 1.4em;
  font-weight: 500;
  color: #80ffca;
}

/* LOGIN REGISTER FORM STYLES */

.login-register-section-wrapper form {
  display: grid;
  align-content: center;
  grid-gap: 2em;
  padding: 0.5em;
}

.form-group {
  display: grid;
  grid-gap: 0.5em;
}

.form-group input {
  width: 100%;
  height: 2.5em;
  padding: 0 0.7em;
  border-radius: 20px;
  border-width: 3px;
  border-color: transparent;
}

.form-group input:focus {
  outline: none;
  box-shadow: -8px 10px 18px rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
}

.form-group > label {
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 0.6em;
}

.form-submit-button {
  margin: 0 auto;
  margin-top: 1em;
  padding: 0.8em;
  width: 10em;
  border-radius: 20px;
  border-color: transparent;
  font-weight: 600;
  background: white;
  cursor: pointer;
  outline: none;
}

.form-submit-button:hover {
  transition-duration: 0.4s;
  background-color: #ff7e66;
  color: white;
  box-shadow: -8px 10px 18px rgba(0, 0, 0, 0.15);
}

.form-multiple-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5em;
}

/* LOGIN REGISTER FORM ERROR */

.form-error {
  border: 2px solid #b33a24 !important;
  border-radius: 4px;
}

.form-error-message {
  color: #b33a24;
  font-size: 0.7em;
  position: absolute;
  margin-top: 5.8em;
  margin-left: 1em;
}

/* SMALL SCREEN */

@media screen and (max-width: 300px) {
  .form-multiple-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
}
