.login-page-wrapper * {
  font-family: 'Open Sans', sans-serif;
}

.login-page-wrapper {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8vh 92vh;
}

/* HEADER */

.login-page-wrapper > header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2em;
  background: #52cc99;
}

.logo-wrapper {
  display: grid;
  justify-content: start;
  align-content: center;
}

.login-register-button-wrapper {
  display: grid;
  justify-content: end;
  align-content: center;
}

.login-register-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-register-button > button {
  display: inline-block;
  border: none;
  padding: 0.7em 1.2em;
  font-weight: 600;
  color: white;
}

.login-register-button > button:disabled {
  background: #a9a9a9;
}

.login-register-button > button:disabled:hover {
  filter: none;
  cursor: default;
}

.login-register-button > button:hover {
  filter: brightness(92%);
  transition-duration: 0.4s;
  cursor: pointer;
}

.login-button {
  background: #ff7e66;
  border-radius: 5em;
  border-radius: 2em 0 0 2em;
}

.register-button {
  background: #ff7e66;
  border-radius: 0 2em 2em 0;
}

/* LOGIN REGISTER WRAPPER */

.login-register-section-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
}

.login-register-section-wrapper > div {
  padding: 50px;
  height: 70vh;
  border-radius: 5px;
  box-shadow: -8px 10px 18px rgba(0, 0, 0, 0.15);
}

/* LOGIN SECTION */

.login-section {
  background: gray;
}

/* REGISTER SECTION */

.register-section {
  display: none;
}
